{% extends "orders/base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
  {{message}}
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" type="text" class="form-control" placeholder="Enter username"><br>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" placeholder="Enter password"><br>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <br>
  <a href="{% url 'register' %}" class="btn btn-tertiary">Register</a>
{% endblock %}
